.nav-container {
  background-color: #9796f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #ffffff30;
}
.nav-header {
  display: flex;
}
.logo {
  width: 25px;
}
.head {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
}
.nav-footer {
  display: flex;
  justify-content: space-around;
}
.describe {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  margin: 15px;
}
/* solution */
.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 8px;
}

.title-with-score-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.emoji-logo {
  width: 24px;
}

@media screen and (min-width: 768px) {
  .emoji-logo {
    width: 48px;
  }
}

.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.scores-container {
  display: flex;
}

.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 24px;
    margin-left: 32px;
  }
}
